<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-social-wrapper">
    <div class="row">
      <div class="col-xs-8 text-center footer-title">
        {{ site.title | escape }}
      </div>
      <div class="col-xs-4 text-center">
        {% include social.html %}
      </div>
    </div>
  </div>
  <div class="footer-site-map">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Resources</dt>
          <dd  class="site-map-section-page">
            <a href="https://www.explodingdots.org">Sign Up</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="/lessons">Teaching Guides</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="/about">About</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Partners</dt>
          <dd  class="site-map-section-page">
            <a href="{{ "ambassadors" | relative_url }}">Ambassadors</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Extras</dt>
          <dd  class="site-map-section-page">
            <a href="{{ "personal-polynomial" | relative_url }}">Personal Polynomial</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="https://www.mindsets.com/global-math-project">Piles &amp; Holes</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="http://bit.ly/mathitations">Mathitation</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="https://appadvice.com/app/place-value-chart/568750442">Place Value Chart</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Give</dt>
          <dd  class="site-map-section-page">
            <a href="{{ "donate" | relative_url }}">Donate</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</footer>
