<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-social-wrapper">
    <div class="row">
      <div class="col-sm-8 col-xs-7 text-center footer-title">
        {{ site.title | escape }}
      </div>
      <div class="col-sm-4 col-xs-5 text-center">
        {% include social.html %}
      </div>
    </div>
  </div>
  <div class="footer-site-map">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Resources</dt>
          <dd  class="site-map-section-page">
            <a href="https://www.explodingdots.org">Sign Up</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="/lessons">Teaching Guides</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="/about">About</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Partners</dt>
          <dd  class="site-map-section-page">
            <a href="{{ "ambassadors" | relative_url }}">Ambassadors</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Extras</dt>
          <dd  class="site-map-section-page">
            <a href="{{ "personal-polynomial" | relative_url }}">Personal Polynomial</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="{{ "learn" | relative_url }}">Fabulous Extensions</a>
          </dd>

        </dl>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Give</dt>
          <dd  class="site-map-section-page">
            <a href="{{ "donate" | relative_url }}">Donate</a>
          </dd>
        </dl>
      </div>
    </div>
    <div class="row text-center">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>

    </div>
    <div class="row text-center">
      This work is licensed under a <br/>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>
    </div>
  </div>
</footer>
