<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="footer-social-wrapper">
    <div class="row">
      <div class="col-xs-8 text-center footer-title">
        {{ site.title | escape }}
      </div>
      <div class="col-xs-4 text-center">
        {% include social.html %}
      </div>
    </div>
  </div>
  <div class="footer-site-map">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Resources</dt>
          <dd  class="site-map-section-page">
            <a href="#">Teaching Guides</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="#">Printable Things</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Partners</dt>
          <dd  class="site-map-section-page">
            <a href="#">Sponsors</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="#">National Ambassadors</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="#">Ambassadors</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Extras</dt>
          <dd  class="site-map-section-page">
            <a href="#">Teaching Guides</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="#">Other Ways To Play!</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="#">Personal Polynomial</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-5">
        <dl class="site-map-section">
          <dt class="site-map-section-name">Give</dt>
          <dd  class="site-map-section-page">
            <a href="#">Donate</a>
          </dd>
          <dd  class="site-map-section-page">
            <a href="#">Sponsorship Opportunities</a>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</footer>
