/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Display
 */
.display {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 20));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 20));
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
/**
 * Buttons
 */

 button:focus{
  outline: none;
 }

button:hover{
  cursor: pointer;
}

.btn{
  border-radius: $base-border-radius;
  box-sizing: border-box;
  font-family: inherit;
  padding: .25rem 1.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color .2s; /* Safari */
          transition: background-color .2s;
}

button.btn{
  font-family: inherit;
  font-size: inherit;
}

.btn-primary{
  color: $brand-color !important;
  border: 2px solid #14186E;

  &:hover{
    color: $grey-color-light !important;
    background-color: $brand-color;
    text-decoration: none;
  }
}

.btn-secondary{
  color: $brand-color-light !important;
  border: 2px solid $brand-color-light;

  &:hover{
    color: $grey-color-light !important;
    background-color: $brand-color-light;
    text-decoration: none;
  }
}

.btn-midnight{
  color: $grey-color-light !important;
  background-color: #284B64;
  border: 2px solid #284B64;

  &:hover{
    color: $grey-color-light !important;
    background-color: #1d394d;
    text-decoration: none;
  }

}

.btn-wide{
  padding:  .75rem 4.5rem;
}



/**
 * Type formatting
 */

.text-plain{
  color: #3A3A3A;
}

.text-center{
  text-align: center;
}

.text-brand-emphasize{
  color: #386ABC;
  font-weight: 900;
}

.text-white{
  color: #FFFFFF !important;
}

.text-danger{
  color: #f34151 !important;
}

.text-light{
  color: #6A6A6A !important;
}

.text-muted{
  color: rgba(255, 255, 255, .5) !important;
}

.header-jumbo{
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.text-jumbo{
  font-size: 1.25rem;
  font-weight: normal;
}



/**
 * Card formatting
 */

.card{
  border-radius: $card-border-radius;
  color: #3A3A3A;
  -webkit-box-shadow: 0 2px 5px 0 #333333;
     -moz-box-shadow: 0 2px 5px 0 #333333;
          box-shadow: 0 2px 5px 0 #333333;

  .card-header{
    background-color: #FFFFFF;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    box-sizing: border-box;
    padding: 2rem 0 1rem 0;

    .card-title{
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0 !important;
    }
  }
  .card-body{
    background: linear-gradient(180deg, #FFFFFF 0%, #EEEEEE 100%);
    box-sizing: border-box;
    padding: 1rem 5rem;

    .card-content{
      margin: 0;
    }
  }
  .card-footer{
    background-color: #EEEEEE;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    box-sizing: border-box;
    padding: 1rem 5rem 3rem 5rem;
  }
}
