.home-header{
  background: -webkit-linear-gradient(#FFFFFF 0%, #DDDDDD 100%);
  background:      -o-linear-gradient(#FFFFFF 0%, #DDDDDD 100%);
  background:         linear-gradient(#FFFFFF 0%, #DDDDDD 100%);
  border-bottom: $grey-color 3px solid;
  min-height: 15rem;
  padding: 9rem 0;

  .gmp-logo{
    margin-bottom: 2em;
  }

  .home-header-text{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 2em;
  }
}

.home-cta{
  background-image: url('/assets/img/cta-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: $grey-color 3px solid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  min-height: 15rem;
  padding-top: 4rem;
  padding-bottom: 12rem;
  margin-bottom: -2rem;

  .cta-body{
    margin-bottom: 3rem;
  }

  .cta-button{
    margin: 3rem auto;
  }
}

.home-partners{
  background-image: url('/assets/img/partners-bg.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15rem;
  padding: 6rem 0 4rem 0;

  .home-partners-title{
  	color: #FFFFFF;
  	font-size: 2rem;
  	font-weight: 600;
    margin-bottom: 0;
  }

  .home-partners-logos{
    justify-content: center;
    img{
      margin-top: 4rem;
      width: 200px;
    }
  }
}

.gmw-countdown{
  color: $grey-color-dark;
  background-color: $background-color;
  border-radius: $base-border-radius;
  font-size: 1.5rem;
  margin: auto;
  padding: .75rem 1.3rem;

  span:not(:first-child){
    margin-left: .5rem;
  }
}

@include media-query($on-palm) {
  .home-header {
    padding: 3rem 0;
  }
}
