.home-header{
  background: -webkit-linear-gradient(#FFFFFF 0%, #CDCDCD 100%);
  background:      -o-linear-gradient(#FFFFFF 0%, #CDCDCD 100%);
  background:         linear-gradient(#FFFFFF 0%, #CDCDCD 100%);
  border-bottom: #FFFFFF 3px solid;
  box-shadow: inset 0px 11px 8px -10px #FFFFFF, inset 0px -13px 17px -10px #555555;
  min-height: 15rem;
  padding: 9rem 0;

  .gmp-logo{
    margin-bottom: 2em;
  }

  .home-header-text{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 1rem;
  }
}

.header-2017-badge{
  height: 200px;
  position: absolute;
  left: 12%;
  margin: -6rem auto 0 auto;
  width: 200px;
}

.header-2018-badge{
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin: -7rem auto 0 auto;
  width: 300px;
}

.header-2019-badge{
  height: 200px;
  position: absolute;
  right: 12%;
  margin: -6rem auto 0 auto;
  width: 200px;
}

.home-cta{
  background-image: url('img/cta-bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: $grey-color 3px solid;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  min-height: 15rem;
  padding-top: 7.5rem;
  padding-bottom: 12rem;
  margin-bottom: -2rem;

  .cta-body{
    margin-bottom: 2rem;
  }

  .cta-button{
    margin: 3rem auto;
  }

  .card {
    .card-body {
      background: linear-gradient(180deg, #716f6f 0%, #626262 100%);
      padding: 1rem;
    }

    .card-header {
      background: #716f6f;
      padding: 2rem 0 0;
    }

    .card-footer {
      background: #626262;
      padding: 2rem 0 0;
    }
  }
}

.home-partners{
  background-image: url('img/partners-bg.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15rem;
  padding: 6rem 0 4rem 0;

  .home-partners-title{
  	color: #FFFFFF;
  	font-size: 2rem;
  	font-weight: 600;
    margin-bottom: 0;
  }

  .home-partners-logos{
    justify-content: center;
    margin-top: 3rem;

    img{
      margin-top: 1rem;
      width: 200px;
    }

    .partner-logo {
      margin-bottom: 1rem;
    }
  }

  .other-partners {
    margin: 6rem 0 1rem 0;
  }
}

.gmw-countdown{
  color: $grey-color-dark;
  background-color: $background-color;
  border-radius: $base-border-radius;
  font-size: 1.5rem;
  margin: 1.5rem auto;
  padding: .75rem 1.3rem;

  span:not(:first-child){
    margin-left: .5rem;
  }
}

.kickoff-section {
  margin-top: 3rem;
}

.gauge-container{
  margin-bottom: 3em;

  .gauge{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    margin-top: 1rem;
    max-width: 600px;
    padding: 5px;
    margin: auto;

    .gauge-goal{
      margin-top: 10px;
      margin-right: 17px;
      float: right;
      color: #FFFFFF;
    }

    .gauge-progress{
      background: -webkit-linear-gradient(bottom right, #FFDC69 0%, #FFF2EC 100%);
      background: -o-linear-gradient(bottom right, #FFDC69 0%, #FFF2EC 100%);
      background: linear-gradient(to top left, #FFDC69 0%, #FFF2EC 100%);
      border: white solid 2px;
      border-radius: 32px;
      margin: 1px;
      min-height: 2.3rem;

      .gauge-marker{
        float: right;
        border-radius: 18px;
        background-color: rgba(#ffffff, 0.5);
        margin-top: 2px;
        margin-right: 3px;
        padding: 4px 6px;
      }
    }
  }
}

@include media-query($on-palm) {
  .home-header {
    padding: 3rem 0 8rem 0;

    .home-header-text{
      margin-bottom: 1rem;
    }
  }

  .home-cta{
    padding-top: 0;

    h1{
      margin-top: 3.5em;
    }
  }

  .gmw-countdown{
    color: $grey-color-dark;
    background-color: $background-color;
    border-radius: $base-border-radius;
    font-size: 0.8rem;
    margin: 1rem auto;
    padding: .75rem 0;

    span:not(:first-child){
      margin-left: .5rem;
    }
  }
}
