.page-body{
  background-image: url('img/page-bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15rem;
}

.page-content{
  padding: 5rem 0;
}

/**
 * Donate Page styling
 */

.donate-page:before{
  background-image: url('img/gmp-balloon.svg');
  background-size: 100% 100%;
  content: "";
  display: inline-block;
  height: 100px;
  position: absolute;
  left: 15%;
  width: 100px;
  z-index: 1000;
}

.btn-donation-amount{
  border: solid 1px #AAAAAA;
  box-sizing:border-box;
  border-radius: 4px;
  color: #3A3A3A;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .4em 1em;
  width: 100%;

  &.active{
    color: #FFFFFF;
    background-color: #386ABC;
    border: solid 1px #386ABC;
  }
}

.input-donate{
  background: #DFDFDF;
  border: solid 1px #DFDFDF;
  box-sizing: border-box;
  border-radius: 4px;
  color: #9A9A9A;
  font-family: inherit;
  font-size: 30px;
  font-weight: bold;
  padding: .4em 1em;
  width: 100%;
}

.donate-buttons{
  margin-bottom: 1rem;
}

.btn-donate{
  background: -webkit-linear-gradient(#396ABC 0%, #14186E 100%);
  background:      -o-linear-gradient(#396ABC 0%, #14186E 100%);
  background:         linear-gradient(#396ABC 0%, #14186E 100%);
  border: none;
  box-shadow: 0 2px 5px 0 #333;
  color: #FFFFFF;
  margin-top: 2.5rem;
  width: 100%;

  &:focus{
    box-shadow: none;
  }
}

/**
 * Ambassador Page styling
 */

.ambassadors-page{
  .ambassadors-page-header{
    background-image: url('img/page-bg-deep-blue.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 15rem;
    padding: 6rem 0 1rem 0;

    h1{
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    h1:before{
      content: url('img/wreath-start.svg');
      position: relative;
      top: 20px;
      right: 10px;
    }

    h1:after{
      content: url('img/wreath-end.svg');
      position: relative;
      top: 20px;
      left: 10px;
    }

    p.ambassador-page-large{
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .ambassadors-learn-more{
      margin-top: 3rem;
    }

    .ambassador-email{
      margin-top: 3rem;

      a{
        color: #FFFFFF;
      }
    }
  }

  #ambassador-page-list{
    padding: 5rem 0;
    min-height: 10rem;

    .ambassador-profile-row{
      margin-bottom: 4rem;
    }

    .ambassador-page-profile{
      .ambassador-name{
        font-weight: bolder;
        margin: 0.3rem 0;
      }

      .ambassador-profile-photo{
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin: auto;
        overflow: hidden;
        margin-bottom: 1rem;
      }

      .ambassador-country{
        color: #FFD022;
        margin-bottom: 0.3rem;
      }

      .ambassador-gmp-statement{
        padding: 0 3rem;
      }
    }
  }
}

@include media-query($on-palm) {
  .donate-page:before{
    background-image: none;
  }
}
