.page-body {
  background-color: $background-color;
  background-image: url('img/page-bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15rem;
}

.page-content {
  padding: 0 0 5rem;
}

@import
  'pages/donate',
  'pages/ambassadors',
  'pages/polynomial',
  'pages/about',
  'pages/lessons';
