---
layout: default
---

<div class="home">
  <div class="home-header text-center">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <img class="gmp-logo" src="assets/img/gmp-logo.svg" alt="gmp-logo">
      </div>
    </div>
    <div class="home-header-text">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
          We are a global community of mathematics teachers and supporters who want all learners across the globe to experience joy and wonder in school-relevant mathematics
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="gmw-countdown">
          <span id="countdown-days"><strong></strong> days</span>
          <span id="countdown-hours"><strong></strong> hours</span>
          <span id="countdown-minutes"><strong></strong> minutes</span>
          <span id="countdown-seconds"><strong></strong> seconds</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <h2 class="text-center d-none d-md-block">... until Global Math Week 2018</h2>
      </div>
    </div>
  </div>

  <a href="#">
    <img class="header-2017-badge d-none d-md-inline"
         src="assets/img/exploding-dots-2017.svg"
         alt="Exploding Dots">
  </a>
  <a href="https://www.explodingdots.org">
    <img class="header-2018-badge"
         src="assets/img/exploding-dots-2018.svg"
         alt="Exploding Dots 2.0">
  </a>
  <a href="#">
    <img class="header-2019-badge d-none d-md-inline"
         src="assets/img/exploding-dots-2019.svg"
         alt="A New Secret Topic">
  </a>

  <div class="home-cta">
    <div class="row cta-header">
      <div class="col-xs-12 text-white text-center">
        <h1>Global Math Week</h1>
      </div>
    </div>
    <div class="row cta-body">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-white text-center">
        <strong>Exploding Dots</strong> is an astounding mathematical story that starts at the very beginning of mathematics – it assumes nothing – and swiftly takes you on a wondrous journey through grade school arithmetic, polynomial algebra, and infinite sums to unsolved problems baffling mathematicians to this day.
      </div>
    </div>
    <div class="row gauge-container">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <div class="gauge">
          <span class="gauge-goal">10,000,000</span>
          <div class="gauge-progress" style="width: 40%">
            <span class="gauge-marker">4,000,000</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="https://www.explodingdots.org" class="cta-button btn btn-secondary btn-wide text-white" target="_blank">LEARN MORE & SIGN UP</a>
      </div>
    </div>
  </div>
  <div class="home-partners text-center">
    <h1 class="home-partners-title">PARTNERS</h1>
    <div class="row home-partners-logos">
      <div class="col-xs-12 col-lg-3">
        <img src="assets/img/aim-partner-logo.svg" alt="American Institute of Mathematics">
      </div>
      <div class="col-xs-12 col-lg-3">
        <img src="assets/img/buzzmath-partner-logo.svg" alt="Buzzmath">
      </div>
      <div class="col-xs-12 col-lg-3">
        <img src="assets/img/beagle-partner-logo.svg" alt="Beagle Learning">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Set the date we're counting down to
  var countDownDate = new Date("October 9, 2018 23:59:00");
  var countDownTime = countDownDate.getTime();
  var currentMonth = new Date().getMonth()

  // Update every 1 second
  var x = setInterval(function() {
    // Get today's date and time
    var now = new Date().getTime();
    var distance = countDownTime - now;

    // calculate days left in the month


    // do more things and get the months and fix the days...
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("countdown-days").innerHTML = `<strong>${days}</strong> days`;
    document.getElementById("countdown-hours").innerHTML = `<strong>${hours}</strong> hours`;
    document.getElementById("countdown-minutes").innerHTML = `<strong>${minutes}</strong> minutes`;
    document.getElementById("countdown-seconds").innerHTML = `<strong>${seconds}</strong> seconds`;

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "IT HAS BEGUN!";
    }
  }, 1000);
</script>
