---
layout: default
javascripts:
- home.js
---

<div class="home">
  <div class="home-header text-center">
    <img class="gmp-logo" src="/assets/img/gmp_logo.svg">
    <div class="home-header-text">
      We are a global math community of people who want all learners and teachers across the globe to experience joy and wonder in school- relevant mathematics.
    </div>
    <div class="gmw-countdown">
      <span id="countdown-month"><strong>10</strong> months</span>
      <span id="countdown-days"><strong>25</strong> days</span>
      <span id="countdown-hours"><strong>13</strong> hours</span>
      <span id="countdown-minutes"><strong>2</strong> minutes</span>
      <span id="countdown-seconds"><strong>46</strong> seconds</span>
    </div>
  </div>
  <div class="home-cta">

  </div>
  <div class="home-partners text-center">
    <h1 class="home-partners-title">PARTNERS</h1>
    <div class="row home-partners-logos">
      <div class="col-xs-12 col-lg-4">
        <img src="http://via.placeholder.com/200x60" alt="American Institute of Mathematics">
      </div>
      <div class="col-xs-12 col-lg-4">
        <img src="http://via.placeholder.com/200x60" alt="Buzzmath">
      </div>
      <div class="col-xs-12 col-lg-4">
        <img src="http://via.placeholder.com/200x60" alt="Beagle Learning">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Set the date we're counting down to
  var countDownDate = new Date("10 7, 2018 08:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {
    // Get todays date and time
    var now = new Date().getTime();
    var distance = countDownDate - now;

    // do more things and get the months and fix the days...
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("countdown-days").innerHTML = `<strong>${days}</strong> days`;
    document.getElementById("countdown-hours").innerHTML = `<strong>${hours}</strong> hours`;
    document.getElementById("countdown-minutes").innerHTML = `<strong>${minutes}</strong> minutes`;
    document.getElementById("countdown-seconds").innerHTML = `<strong>${seconds}</strong> seconds`;

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "IT HAS BEGUN!";
    }
  }, 1000);
</script>
