---
layout: default
---

<div class="home">
  <div class="home-header text-center">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <img class="gmp-logo" src="/assets/img/gmp_logo.svg">
      </div>
    </div>
    <div class="home-header-text">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
          We are a global math community of people who want all learners and teachers across the globe to experience joy and wonder in school- relevant mathematics.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="gmw-countdown">
          <span id="countdown-months"><strong></strong> months</span>
          <span id="countdown-days"><strong></strong> days</span>
          <span id="countdown-hours"><strong></strong> hours</span>
          <span id="countdown-minutes"><strong></strong> minutes</span>
          <span id="countdown-seconds"><strong></strong> seconds</span>
        </div>
      </div>
    </div>
  </div>
  <div class="home-cta">
    <div class="row cta-header">
      <div class="col-xs-12 text-white text-center">
        <h1>Global Math Week</h1>
      </div>
    </div>
    <div class="row cta-body">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-white text-center">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="https://www.explodingdots.org" class="cta-button btn btn-secondary btn-wide" target="_blank">SIGN UP</a>
      </div>
    </div>
  </div>
  <div class="home-partners text-center">
    <h1 class="home-partners-title">PARTNERS</h1>
    <div class="row home-partners-logos">
      <div class="col-xs-12 col-lg-4">
        <img src="http://via.placeholder.com/200x60" alt="American Institute of Mathematics">
      </div>
      <div class="col-xs-12 col-lg-4">
        <img src="http://via.placeholder.com/200x60" alt="Buzzmath">
      </div>
      <div class="col-xs-12 col-lg-4">
        <img src="http://via.placeholder.com/200x60" alt="Beagle Learning">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Set the date we're counting down to
  var countDownDate = new Date("10 7, 2018 08:00:00");
  var countDownTime = countDownDate.getTime();
  var currentMonth = new Date().getMonth()

  // Update every 1 second
  var x = setInterval(function() {
    // Get today's date and time
    var now = new Date().getTime();
    var distance = countDownTime - now;

    // calculate days left in the month


    // do more things and get the months and fix the days...
    var months = countDownDate.getMonth() - currentMonth
    if (countDownDate.getMonth() == currentMonth) {
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    }else {
      var date = new Date();
      var time = new Date(date.getTime());
      time.setMonth(date.getMonth() + 1);
      time.setDate(0);
      var days = time.getDate() > date.getDate() ? time.getDate() - date.getDate() : 0;
    }
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Display the result in the element with id="demo"
    document.getElementById("countdown-months").innerHTML = `<strong>${months}</strong> months`;
    document.getElementById("countdown-days").innerHTML = `<strong>${days}</strong> days`;
    document.getElementById("countdown-hours").innerHTML = `<strong>${hours}</strong> hours`;
    document.getElementById("countdown-minutes").innerHTML = `<strong>${minutes}</strong> minutes`;
    document.getElementById("countdown-seconds").innerHTML = `<strong>${seconds}</strong> seconds`;

    // If the count down is finished, write some text
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "IT HAS BEGUN!";
    }
  }, 1000);
</script>
